@font-face {
  font-family: 'grance';
  src: url('./font/grance-font/GranceDemo-2ORye.otf'),
}
@font-face {
  font-family: 'oregon';
  src: url('./font/oregon-ldo-font/'),
}

.fontsize-icon {
  font-size: 1.2rem;
}


.oregon {
  font-family: 'oregon';
}

.grance {
  font-family: 'grance';
}


.pink-bck {
  border: solid 2px rgb(245, 192, 255);
  box-shadow: 2%;
  color: #a992de;
}

.pink-bck:hover {
  border: solid 2px rgb(250, 228, 255);
  background-color: rgb(164, 169, 255);
  box-shadow: 2%;
  color: #fafbd1;
}

.profile-pic-hair{
  border-radius: 55%;
  box-shadow: 5px 5px 5px rgb(230, 202, 230);
}

/*----  Navbar  ----*/
.navbarlinks {
  font-family: 'grance';
  color: rgb(160, 106, 211);
  text-decoration: none;
}

.navbarlinks:hover {
  color: rgb(100, 105, 216);
  text-decoration: none;
}

body {
  background-color: rgb(254, 255, 245);
}

.nav-bck{
  background: linear-gradient(to bottom, rgb(236, 194, 238) 0%, rgba(0, 0, 0, 0) 100%);
}

.smaller-pic {
  height: 3rem;
  object-fit: cover;
}

/*----  Projects  ----*/
.card-btn a{
  background-color: inherit;
  border: 2px rgb(244, 201, 247) solid;
}

.card-btn a:hover{
  background-color: rgb(244, 201, 247);
  border: 2px rgb(255, 206, 255) solid;
  color: white;
}

#projects{
  text-align: center;
}

#projects .container{
  padding-top: 80px; 
  padding-bottom: 100px;
}

#projects a{
  text-decoration: none;
  outline: none;
}

#projects .card-section {
  border-radius: 2%;
}
#projects .card-section .image-box{
  background: rgb(255, 255, 255, 1);
  overflow: hidden;
  box-shadow: 1px 2px 15px rgb(251, 255, 197);
  border-radius: 2%;
}

#projects .card-section .image-box img{
  width: 100%;
  height: 200px;
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  border-radius: 10%;
}

#projects .card-section:hover .image-box img{
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
  transform:scale(1.05);
}

#projects .card-section .text-box{
  text-align: center;
}

#projects .card-section .text-box .text-container{
  padding: 30px 18px;
}

#projects .card-section{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 1px 3px 4px rgba(251, 11, 255, 0.2);
}

#projects .card-section:hover{
  background: #fff;
  box-shadow: 2px 5px 10px rgba(147, 14, 255, 0.5);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}

#projects .card-section .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-family: 'glance';
  font-size: 15px;
  letter-spacing: 1px;
  color: rgb(68, 68, 68);
}

#projects .card-section .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'glance';
  letter-spacing: 1px;
  color: #af6ce2;
}
  

/*----  Skills  ----*/
.icon-size{
  width: 50%;
}


/*----  Contact  ----*/
.connect-links a{
  text-decoration: none;
  color: rgb(43, 43, 43);
}


/*----  Footer  ----*/
  footer p {
    padding: 40px 0;
    text-align: center;
    font-family: 'glance';
  }


/*----  Interest  ----*/
.int-pic figure {
  float: left;
  margin: 10px 1%;
  height: 15rem;
  max-height: 225px;
  max-width: 480px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.int-pic figure figcaption,
.int-pic figure figcaption > a {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.int-pic figure figcaption {
  backface-visibility: hidden;
  color: #957ee0;
  font-size: 1em;
}

.int-pic figure p {
  margin: 0;
  font-size: 15px;
  font-weight: 100;
  color: #fff;
  letter-spacing: 1px;
}

.int-pic figure.softeffect {
  background: none repeat scroll 0 0 #000000;
}

.int-pic figure.softeffect img {
  transition: opacity .35s ease 0s, transform .35s ease 0s;
}

figure.softeffect:hover img {
  opacity: 0.35;
  transform: scale(1);
}

.int-pic figure.softeffect figcaption:before,
.int-pic figure.softeffect p {
  opacity: 0;
  transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
}

.int-pic figure.softeffect p {
  margin: 0 auto;
  max-width: 200px;
  transform: scale(1.5);
}

.int-pic figure.softeffect:hover figcaption:before,
.int-pic figure.softeffect:hover p {
  opacity: 1;
  transform: scale(1);
}

.int-pic figure img {
  display: block;
  max-width: 100%;
  min-height: 100%;
  opacity: 1;
  position: relative;
}

figure.softeffect {
  background: none repeat scroll 0 0 transparent;
}

figure.softeffect:hover {
  background: none repeat scroll 0 0 #000000;
}

figure.softeffect img {
  transform: scale(1);
  transition: opacity .35s ease 0s, transform .35s ease 0s;
}

figure.softeffect:hover img {
  opacity: 0.40;
  transform: scale(1.15);
  filter: blur(2px);
}